@import "~styles/_variables";
@import "~styles/_mixins";

.ar-view {
  width: 100vw;
  position: relative;

  &.hide-camera{
    .camera-view{
      // display: none;
    }
  }

  .canvas-overlay, .canvas-video{
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    margin: auto;
  }
}
