@import "~styles/_variables";
@import "~styles/_mixins";


.ar-webcam-source{
  &.hide {
    position: fixed;
    width: 100% !important;
    // top: -1000px;
    // left: 0;
    // transform: translate3d(0, -100%, 0);
  }
}
.arjs-view {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .layers{
    position: relative;
    overflow: hidden;
  }

  .ar-layer, .video-layer{
    margin-top: 0 !important;
    margin-left: 0 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .capture-btn{
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    flex-shrink: 0;
    font-size: 25px;
  }
}
